<footer class="pt-[70px] bg-white">
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-5">
        <ul class="text-gray-500 text-base flex flex-col gap-y-5">
            <li class="text-gray-950 font-semibold">Links</li>
            <li><a href="#">Service List</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Announcements</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Policy</a></li>
        </ul>
        <ul class="text-gray-500 text-base flex flex-col gap-y-5">
            <li class="text-gray-950 font-semibold">Services</li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Ticketmaster</a></li>
            <li><a href="#">Free Numbers</a></li>
        </ul>
        <ul class="text-gray-500 text-base flex flex-col gap-y-5">
            <li class="text-gray-950 font-semibold">Contact</li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Updates</a></li>
        </ul>
        <ul class="text-gray-500 text-base flex flex-col gap-y-5">
            <li class="text-gray-950 font-semibold">Social</li>
            <li class="flex gap-3 items-center justify-start flex-wrap">
                <a href="#" class="group w-[30px] hover:scale-[1.2] h-[30px] flex items-center justify-center bg-gray-200 rounded-full">
                    <i class="ri-linkedin-box-fill text-gray-950 group-hover:scale-[1.2] group-hover:text-primary duration-300"></i>
                </a>
                <a href="#" class="group w-[30px] hover:scale-[1.2] h-[30px] flex items-center justify-center bg-gray-200 rounded-full">
                    <i class="ri-instagram-fill text-gray-950 group-hover:scale-[1.2] group-hover:text-primary duration-300"></i>
                </a>
            </li>
        </ul>
        <ul class="text-gray-500 text-base flex flex-col gap-y-5">
            <li class="text-gray-950 font-semibold">Textverified</li>
            <li><a href="#">We are the premier one stop shop for all your SMS, text, and voice verification needs.
                    Exceptional service and competitive pricing sets us apart from the rest.</a></li>
        </ul>
    </div>
    <div class="border-t border-gray-200 mt-5 py-5">
        <div class="container">
            <p class="text-gray-500 text-base font-medium">© 2024 Textverified All rights reserved.</p>
        </div>
    </div>
</footer>